body {
  color: #272727;
  display: block;
  font-family: 'Raleway', sans-serif;
  background-color:rgb(115, 108, 162);
}

#header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #272727;
  line-height: 40px;
  font-size: 15px;
  z-index: 1000;
}

#container {
  max-width: 720px;
  margin: auto;
  padding: 80px;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .two-column {
    flex-direction: column;
  }
  .photo {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
  }
}

.links {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.heading-text-content {
  color: #FFE400;
}

.subheading {
  font-size: 1.4em;
  font-weight: 400;
}

.photo {
  border-radius: 50%;
}

.project-container {
  margin-bottom: 1.6em;
}

.project-title {
  
  margin-bottom: 0;
}

.project-description {
  margin: 0;
}

.project-tools {
  margin-top: 2px;
  font-weight: 350;
}

.project-date {
  margin: 0;
  margin-left: 4px;
  font-weight: 400;
  font-size: 16px;
}

.section-title {
  margin-bottom: 0;
}
